form{
  width: 90%;
  margin: auto;
}
.home{
  margin: 1rem auto;
  text-align: center;
}
button{
  width: 100%;
}
.texto{
  width: auto;
  margin-top: 1rem;
  margin: 3rem;
  text-align: justify;
  text-indent: 4% ;
}
